body {
    background-color: lightgrey;
    display: grid;
    grid-template-rows: 10% 85% 5%;
    padding:0;
    margin:0;
  }

.header {
    background-color:dimgrey;
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;

}