body {
    background-color: white;
    display: grid;
    grid-template-rows: 10% 85% 70% 5%;
    padding:0;
    margin:0;
  }

.navbar {
    background-color:whitesmoke;
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
    font-family: "copperplate", fantasy, sans-serif;
    color:royalblue;
}

.content{
    display: grid;
    grid-template-columns: 90% 10%;



}

.footer {
    background-color:dimgrey;
}

.button {
    text-decoration: None;
    border: none;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    width: 100%;
    height: 100%;
    color:royalblue;
}
.button:hover {
    background-color:rgb(70, 70, 70);
    color: white;
}

.socialMediaBoard{
    display: grid;
    grid-template-rows: 5% 10% 10% 10% 10% 10% 10% 10% 10% 15%;
    text-align: center;
}
.socialMediaLink {
    color: royalblue;
    font-size: 30pt;

}

.grow { 
    transition: all .2s ease-in-out; 
    }
    
    .grow:hover { 
    transform: scale(1.1); 
    }